UseColor: true

Checks: >
    bugprone-*,
    cppcoreguidelines-*,
    google-*,
    performance-*,

HeaderFilterRegex:            '.*'

HeaderFileExtensions:         ['hpp']

ImplementationFileExtensions: ['cpp']

