UseColor: true

Checks: >
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-magic-numbers,
    google-*,
    performance-*,

HeaderFilterRegex:            '.*'

HeaderFileExtensions:         ['hpp']

ImplementationFileExtensions: ['cpp']

